@model CarWorkshop.MVC.Models.AboutViewModel;




<h1>@Model.Title</h1>
<div class="alert alert-primary" role="alert">Description: @Model.Description</div>
<p>tags: </p>
@foreach (var tag in Model.Tags)
{
    <p>@tag</p>
}

